<a href="https://colab.research.google.com/github/JeongJaeWook/Portfolio-Lotto/blob/master/algorithm/Built_in_Functions_20200101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Built-in Functions

In [ ]:
dir([1,2,3,4]) #list 내장함수들 기억안날 때 이런식으로 검색

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
format(100000,',')

'100,000'

In [ ]:
format(100000,'e')

'1.000000e+05'

In [ ]:
format(10000,'x')

'2710'

In [ ]:
format(1000, '!>-020,.4f') # 오른쪽에 맞춰서 부호를 표시하고 10자리를 맞추고 소수점4자리로 표현해라

'!!!!!!!!!!1,000.0000'

In [ ]:
def jw(value):
  if value % 2 ==0:
    return True
  else:
    return False


list(filter(jw,range(20))) #함수에 조건에 맞는 애들을 출력해주는 filter

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(filter(lambda x: x%2==0,range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[i for i in range(20) if i % 2 ==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
len([2,3,4,5])

4

In [ ]:
print(list(map(jw,range(20))))
print(list(map(lambda x: x%2==0,range(20))))

[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False]
[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False]

In [ ]:
list(zip(['a','b','c','d'],[1,2,3,4],[10,20,30,40],'ABCD'))

[('a', 1, 10, 'A'), ('b', 2, 20, 'B'), ('c', 3, 30, 'C'), ('d', 4, 40, 'D')]

In [ ]:
#reversed()
sorted()

TypeError: ignored

In [ ]:
l = [10,5,4,3,7,6]
l.sort() #return값만 정렬된 값 반환
l

[3, 4, 5, 6, 7, 10]

In [ ]:
testCase1 = ['abc','def','heloo world','hello','python']
testCase2 = 'Life is too short, You need Python'.split()
testCase3 = list(zip('anvfe',[5,4,3,2,1]))
sorted(testCase1, key=len, reverse=True)
sorted(testCase2, key=str.lower)
print(testCase3)
sorted(testCase3, key=lambda x :x[1])
sorted(testCase3, key=lambda x :x[0])
#딕셔너리 정렬하고 싶을 때 쓸 수 있다는거!
#리스트의 튜플구조이니까!!

[('a', 5), ('n', 4), ('v', 3), ('f', 2), ('e', 1)]

[('a', 5), ('e', 1), ('f', 2), ('n', 4), ('v', 3)]

In [ ]:
5 not in [1,2,4]
5 in [1,2,4]

False

In [ ]:
l = [1,2,3,4,5]
dir(l)
# 'append', #요소 추가
#  'clear', #다 없애는거
#  'copy', #복사(리스트를 functino에 넘길때 원래값 유지할때)
#  'count', #갯수
#  'extend',#요소 많이 추가할 때
#  'index', #어떤 요소 찾을 때
#  'insert',#해당 자리에 요소 넣을 때
#  'pop', #뒤에서 값 꺼낼때
#  'remove', #어떠 요소 지울때(del로 지우는게 낫다)
#  'reverse', #역순
#  'sort' #섞기

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#큐 - 뒤에서부터 빼고
l = []

l.append(10)
l.append(20)
l.append(30)
l.pop(0)
l

[20, 30]

In [ ]:
#스택 - 앞에서 빼고
l = []

l.append(10)
l.append(20)
l.append(30)
l.pop()
l

[10, 20]

In [ ]:
d = {'one':'하나','two':'둘'}
dir(d)

# 'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values']

d.keys()
d.values()
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [ ]:
del d['one']
d

{'two': '둘'}

In [ ]:
d['one'] = '하나'

In [ ]:
s = set('111222333445677')
s

{'1', '2', '3', '4', '5', '6', '7'}

In [ ]:
dir(s)
# 'add',
#  'clear',
#  'copy',
#  'difference', #차집합 집합1.difference(집할2)
#  'difference_update',
#  'discard',
#  'intersection',
#  'intersection_update',
#  'isdisjoint',
#  'issubset',
#  'issuperset',
#  'pop',
#  'remove',
#  'symmetric_difference',
#  'symmetric_difference_update',
#  'union',
#  'update' #한꺼번에 여러개 업데이트하고 싶을 때

s.add(7)
s.discard(7)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
판콜에이 = {'A','B','C'}
타이레놀 = {'A','B','D'}

print(판콜에이.difference(타이레놀)) #차집합
print(판콜에이.intersection(타이레놀)) #교집합
print(len(판콜에이.intersection(타이레놀))) #교집합
print(판콜에이.union(타이레놀)) #합집합

{'C'}
{'A', 'B'}
2
{'A', 'B', 'C', 'D'}

In [ ]:
serverData = '아야 어여 우유 이이 아아 후후 개리 개리 라이캣 자바독 자바독 파이 썬'
len(set(serverData.split()))

d = {}
for i in set(serverData.split()):
  print(i, serverData.split().count(i))
  d[i] = serverData.split().count(i)
d

어여 1
아야 1
파이 1
라이캣 1
우유 1
썬 1
후후 1
개리 2
이이 1
자바독 2
아아 1

{'개리': 2,
 '라이캣': 1,
 '썬': 1,
 '아아': 1,
 '아야': 1,
 '어여': 1,
 '우유': 1,
 '이이': 1,
 '자바독': 2,
 '파이': 1,
 '후후': 1}

In [ ]:
for i in '1 2 3 4 5 6'.split():
  print(int(i))

print([int(i) for i in '1 2 3 4 5 6'.split()])

print(list(map(int,'1 2 3 4 5 6'.split())))

1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]