<a href="https://colab.research.google.com/github/JeongJaeWook/Portfolio-Lotto/blob/master/python100/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C(101~200).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 07. 파이썬 분기문
파이썬은 if라는 키워드를 통해 분기문을 만들 수 있습니다.

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# Bool type

In [ ]:
# 102
# 아래 코드의 출력 결과를 예상하라 

print(3 == 5) # ==False
print(3 < 5) #103 ==true

False
True

In [ ]:
#104
x = 4
print(1 < x < 5)

True

In [ ]:
#105
print ((3 == 3) and (4 != 3))

True

In [ ]:
#106
print(3 => 4)
# >=

SyntaxError: ignored

In [ ]:
#107

if 4 < 3:
    print("Hello World")

In [ ]:
# 108
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
# 109
# 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110
# 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

a = input("입력:")
if a == "안녕하세요":
  print(a*2)

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
#112
a = input("숫자를 입력하세요:")

print(int(a) + 10)

숫자를 입력하세요:30
40

In [ ]:
#113
a = input("숫자를 입력하세요:")

if int(a)%2 == 0 :
  print("짝수")
else:
  print("홀수")

숫자를 입력하세요:5
홀수

In [ ]:
#114
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라.
#  단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

a = input("숫자를 입력하세요:")
b = int(a) + 20

if  b > 255:
  print(255)
else:
  print(b)

숫자를 입력하세요:250
255

In [ ]:
# 115
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

a = input("숫자를 입력하세요:")
b = int(a) - 20


if  b < 0:
  print(0)
elif b > 255:
  print(255)
else:
  print(b)

숫자를 입력하세요:200
180

In [ ]:
# 116
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

# >> 현재시간:02:00
# 정각 입니다.
# >> 현재시간:03:10
# 정각이 아닙니다

a = input("시간을 입력하세요:")
timea = a.split(':')[1]



# if timea[-2:] == "00":
if timea == "00" :
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

시간을 입력하세요:2:00
정각 입니다.

In [ ]:
# 117
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
# >> 좋아하는 과일은? 사과
# 정답입니다.

a = input("좋아하는 과일은?:")

if a in fruit:
  print("정답입니다")
else:
  print("삐")

좋아하는 과일은?:배
삐

In [ ]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 
# '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
warn_investment_list_upper = [i.upper() for i in warn_investment_list] #List 컴프리핸션!!!

print(warn_investment_list_upper)
종목 = input("종목명: ")
종목2 = 종목.upper()

if 종목2 in warn_investment_list_upper:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

['MICROSOFT', 'GOOGLE', 'NAVER', 'KAKAO', 'SAMSUNG', 'LG']
종목명: google
투자 경고 종목입니다.

In [ ]:
119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("제가좋아하는계절은: ")
if a in fruit.keys(): #fruit 해도 됨 
  print("정답입니다")
else:
  print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다

In [ ]:
# 120
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

# >> 좋아하는과일은? 한라봉
# 오답입니다.

a = input("제가 좋아하는 과일은: ")
if a in fruit.values(): 
  print("정답입니다")
else:
  print("오답입니다.")

제가 좋아하는 과일은: 딸기
정답입니다

In [ ]:
#@title a.islower()
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

a = input("입력: ")

if a.islower() :
  print(a.upper())
else:
  print(a.lower())

In [ ]:
# 122
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

a = input("입력: ")
score = int(a)

if score >= 81 :
  print("A")
elif score >= 61 :
  print("B")
elif score >= 41 :
  print("C")
elif score >= 21 : #21 <= score <= 40:
  print("D")
elif score >= 0 :
  print("E")

입력: 55
C

In [ ]:
#@title a,b = split() 이걸 잘 생각하자 
# 123
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

money = {"달러":1167,"엔":1.096,"유로":1268,"위안":171}
a = input("입력: ")
num, currency  = a.split(' ')

if currency in money.keys():
  print(float(num) * (money[currency]))

입력: 150 유로
190200.0

In [ ]:
# 124
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

# >> input number1: 10
# >> input number2: 9
# >> input number3: 20
# 20

a = int(input("입력 1: "))
b = int(input("입력 2 : "))
c = int(input("입력 3: "))

alist = []
alist.append(a)
alist.append(b)
alist.append(c)

alist.sort()
print(alist[0])

입력 1: 10
입력 2 : 9
입력 3: 20
9

In [ ]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 > num2 and num1 > num3:
    print(num1)
elif num2 > num1 and num2 > num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 9
input number3: 20
20

In [ ]:
# 125
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 
# 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음


num1 = input("input number1: ")
num2 = num1.split('-')[0]

if num2 == "011" :
  print("SKT")
elif num2 == "016" :
  print("KT")
elif num2 == "019" :
  print("LG")
elif num2 == "010" :
  print("알수없음")

input number1: 011-1234-1234
SKT

In [ ]:
# 126
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

# -	0	1	2	3	4	5	6	7	8	9
# 01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

In [ ]:
# 127
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

# >> 주민등록번호: 821010-1635210
# 남자

주민등록번호 = input("주민등록번호: ")
주민등록번호 = 주민등록번호.split('-')[1][0]
주민등록번호

if 주민등록번호 in ["1","3"]:
  print("남자")
else:
  print("여자")

주민등록번호: 112313-4635210
여자

In [ ]:
# 128
# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 
#주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

# 지역코드	출생지
# 00 ~ 08	서울
# 09 ~ 12	부산

주민등록번호 = input("주민등록번호: ")
주민등록번호 = int(주민등록번호.split('-')[1][1:3])
print(주민등록번호)

if 주민등록번호 in list(range(0,9)):
  print("서울")
else:
  print("서울이 아니다")



주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 861010-1015210
1
서울
주민등록번호: 821010-1635210
서울이 아닙니다.

In [ ]:
# 129
# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 
# 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

#   8 2 1 0 1 0 - 1 6 3 5 2 1 0
# x 2 3 4 5 6 7   8 9 2 3 4 5 
# -----------------------------
# 1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
# 2차 계산: 11 -7 = 4
# 위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

# 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

주민번호 = input("주민등록번호: ")
앞자리,뒷자리 = 주민번호.split("-")
앞자리 = list(앞자리)
뒷자리 = list(뒷자리)
print(list(앞자리))
revise_jumin = 앞자리 + 뒷자리
print(revise_jumin)
곱할값 = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
print(list(range(12)))
totalx1 = 0
start = 0
for a in 곱할값:
  totalx1 += (int(revise_jumin[start]) * a)
  start += 1

total3 = 11 - totalx1 % 11

print(주민번호[-1])
if int(주민번호[-1]) == total3:
  print("유효하네^ㅂ^")
else:
  print("틀렸어")

주민등록번호: 920603-1124712
['9', '2', '0', '6', '0', '3']
['9', '2', '0', '6', '0', '3', '1', '1', '2', '4', '7', '1', '2']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
2
유효하네^ㅂ^

In [ ]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
# 130
# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
#btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
btc

{'acc_trade_value': '217760156321.1289',
 'acc_trade_value_24H': '225496816237.1374',
 'closing_price': '26391000',
 'date': '1608818998049',
 'fluctate_24H': '-194000',
 'fluctate_rate_24H': '-0.73',
 'max_price': '26957000',
 'min_price': '25780000',
 'opening_price': '26764000',
 'prev_closing_price': '26764000',
 'units_traded': '8297.39862237',
 'units_traded_24H': '8586.97655623'}

In [ ]:
#@title import json 몰랐던 부분
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

## 08. 파이썬 반복문
파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. 파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

In [1]:
# 131
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
# 132
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [3]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [4]:
# 134
# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)


print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [6]:
# 135
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a

In [8]:
# 136 . #137  #138  #139 
# 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for a in [10,20,30]:
  print(a)

10
20
30
10
20
30

In [10]:
# 140
# 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")
print("hihihi")
for a in range(4):
  print("-------")

-------
-------
-------
-------
hihihi
-------
-------
-------
-------

In [11]:
#141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
# 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for a in 리스트:
  print(a + 10)

110
210
310

In [13]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [14]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
  print(len(a))

6
4
4

In [15]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [16]:
# 145
# 리스트에 동물 이름 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.


리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [17]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)
  # print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [21]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  #print("3 x", 변수, "=",3*변수)
  print(f"3 x {변수} = {3*변수}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [25]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

리스트 = ["가", "나", "다", "라"]
for a in 리스트[1:]:
  if a != "가":
    print(a)

나
다
라

In [28]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
print(리스트[::2])

#150
print(리스트[::-1])

['가', '다']
['라', '다', '나', '가']

In [29]:
# 151
# 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

for a in 리스트:
  if a<0:
    print(a)

-20
-3

In [30]:
# 152
# for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
for a in 리스트:
  if a%3 ==0:
    print(a)

3

In [34]:
# 153
# 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트:
  if a%3 ==0 and a <20:
    print(a)

12
18

In [38]:
# 154
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]

for a in 리스트:
  if len(a)>=3 :
    print(a)

study
python
language

In [39]:
# 155
# 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [41]:
# 156
# 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() == False:
    print(변수)
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)
# 논리 연산자 not을 사용할 수도 있습니다.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c
b
c
b
c

In [42]:
# 157
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']

for a in 리스트:
  print(a.capitalize())

Dog
Cat
Parrot

In [43]:
# 158
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트:
  print(a.split('.')[0])

hello
ex01
intro

In [45]:
# 159
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for a in 리스트:
  if a.split('.')[1] == 'h':
    print(a)

intra.h
define.h

In [46]:
# 160
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h

In [47]:
# 161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for a in range(100):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [48]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for a in range(2002,2051,4):
  print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [52]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for a in range(1,31):
  if a % 3 == 0 : print(a)

for num in range(3, 31, 3):
  print (num)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [56]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for a in range(100,-1,-1):
  print(a)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [59]:
# 165
# for문을 사용해서 아래와 같이 출력하라.

for a in range(10):
  print(a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [62]:
# 166
# 구구단 3단을 출력하라.
t = 1
for a in range(3,30,3):
  print(f"3 x {t} = {a}")
  t +=1


for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [63]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

for i in range(1, 10,2) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [65]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합 : 55

total = 0
for a in range(1,11):
  total += a

print(total)

55

In [66]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total = 0
for a in range(1,11,2):
  total += a

print(total)

25

In [68]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total = 1
for a in range(1,11):
  total *= a

print(total)

3628800

In [69]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [72]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for a in range(len(price_list)):
  print(price_list[a])

32100
32150
32000
32500

In [74]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
print(enumerate(price_list))
for i, data in enumerate(price_list):
    print(i, data)

<enumerate object at 0x7f1c7d146630>
0 32100
1 32150
2 32000
3 32500

In [75]:
list(enumerate(price_list))

[(0, 32100), (1, 32150), (2, 32000), (3, 32500)]

In [84]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
  print((len(price_list)-1)-i,data)

3 32100
2 32150
1 32000
0 32500

In [88]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

for i,data in enumerate(price_list[1:],10):
  print(f"{i*10}",data)

100 32150
110 32000
120 32500

In [96]:
#@title 뭔가 더 생각을 깔끔하게 해야 해
# 175
# my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

for i,a in enumerate(my_list):
  if i <=2 :
    print(my_list[i] , my_list[i+1])


for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라
가 나
나 다
다 라

In [98]:
# 176
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

for i in range( 2, len(my_list) ) :
  print(my_list[i-2],my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [106]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in range(1,len(my_list)) :
  print(my_list[-i],my_list[-i-1])

라 다
다 나
나 가

In [116]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

200- 100
400- 200
800 - 400

for a in range(1,len(my_list)):
  print(my_list[a] - my_list[a-1])

100
200
400

In [121]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

for a in range(2,len(my_list)):
  #print(my_list[a-2],my_list[a-1],my_list[a])
  print((my_list[a-2]+my_list[a-1]+my_list[a])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [123]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

# 변동폭 - 고가 - 저가
volatility = []

for a in range(len(low_prices)):
  변동폭 = high_prices[a] - low_prices[a]
  volatility.append(변동폭)
print(volatility)

[50, 100, 30, 80, 0]

In [125]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [127]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [["101호","102호"],["201호","202호"],["201호","202호"]]

In [128]:
#182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [133]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock={"시가":[100,200,300], "종가":[80,210,330]}

In [132]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 
# 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [138]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

for a in  apart:
  for b in a:
    print(b,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [141]:
#@title 이건 모르겠어;
#186
apart = [ [101, 102], [201, 202], [301, 302] ]


for a in apart[::-1]:
  for b in a:
    print(b,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [142]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]


for a in apart[::-1]:
  for b in a[::-1]:
    print(b,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [143]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

for a in  apart:
  for b in a:
    print(b,"호")
    print("-"*6)

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [145]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in  apart:
  for b in a:
    print(b,"호")
  print("-"*6)

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [146]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]

for a in  apart:
  for b in a:
    print(b,"호")
print("-"*6)

101 호
102 호
201 호
202 호
301 호
302 호
------

In [153]:
#191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in  data:
  for b in a:
    print(b*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [155]:
#192
for a in  data:
  for b in a:
    print(b*1.00014)
  print('*'*5)

2000.28
3050.427
2050.2870000000003
1980.2772
*****
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
*****
15452.163
15052.107
15552.177
14902.086000000001
*****

In [158]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
result =[]
for a in  data:
  for b in a:
    result.append(b*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [162]:
#@title sub 리스트 선언위치 조심할것!
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
# 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

result =[]
for a in  data:
  resulta =[]
  for b in a:
    resulta.append(b*1.00014)
  result.append(resulta)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [163]:
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [170]:
# 195
# data 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#화면에 종가데이터를 출력하라.

data = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for a in data[1:]:
  print("a",a)
  print(a[-1])

a [100, 110, 70, 100]
100
a [200, 210, 180, 190]
190
a [300, 310, 300, 310]
310

In [172]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for a in ohlc[1:]:
  if a[-1] > 150:
    print("a",a[-1])

a 190
a 310

In [174]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for a in ohlc[1:]:
  if a[-1] >= a[0]:
    print(a[-1])

100
310

In [176]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

[40, 30, 10]

In [177]:
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [180]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.


for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [181]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.


profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])

In [182]:
#200번까지 완료!