<a href="https://colab.research.google.com/github/JeongJaeWook/Portfolio-Lotto/blob/master/python100/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C(201~300).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 09. 파이썬 함수
함수란 자주 사용하는 코드에 대한 이름표입니다. 변수가 어떤 값을 바인딩하는 것처럼 함수는 어떤 코드를 바인딩합니다.

In [1]:
# 201
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coint():
  print("비트코인")

print_coint() #202

비트코인

In [2]:
for a in range(10): #203
  print_coint()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [3]:
def print_coins():
  print("비트코인"*100)

print_coins()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [4]:
#205

#선언보다 실행을 더 위에다가 해서
# 즉, 함수가 정의되기 전에 호출되어서 에러가 발생합니다.

In [5]:
# 206
# 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

# A
# B
# C
# A
# B

A
B
C
A
B

In [6]:
# 207
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()


# A
# C
# B

A
C
B

In [7]:
# 208
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()


# A C B E D

A
C
B
E
D

In [8]:
# 209
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [9]:
# 210
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()


# B C B C B C A

B
C
B
C
B
C
A

In [10]:
# 211
# 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [11]:
# 212
# 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

#인자가 있어야 하는데 없어서

In [ ]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다. 
하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [12]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(s):
  print(s + ":D")

print_with_smile("하이") #216

하이:D

In [14]:
# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

def print_upper_price(price):
  print(price*1.3)
print_upper_price(50000)

65000.0

In [15]:
def print_sum(a,b):
  print(a+b)

In [17]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [20]:
# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

def print_max(a,b,c):
  temp = a
  if a < b:
    temp = b
    if b < c:
      temp = c
  else:
    if a < c:
      temp = c
  print(temp)

print_max(3,2,1)

3

In [24]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
print_max(3, 2, 1)

3

In [28]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

def print_reverse(s):
  print(s[::-1])

print_reverse("python")

nohtyp

In [33]:
#@title List를 문자열로 만들어주는 함수 "".Join(a)
a = ['a','b','c']

b = "".join(a)
b

'abc'

In [36]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(score_list):
  total = 0
  평균 = 1
  for a in range(len(score_list)):
    total += score_list[a]
  평균 = total / len(score_list)

  print(평균)

print_score ([1, 2, 3])

2.0

In [37]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

In [39]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



def print_even(alist):
  for a in alist:
    if a % 2 ==0:
      print(a)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [42]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_keys(a):
  print(list(a.keys()))

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

['이름', '나이', '성별']

In [46]:
225
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

print(my_dict["10/26"])


# print_value_by_key  (my_dict, "10/26")

def print_value_by_key(a,b):

  my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
  print(a[b])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]
[100, 130, 100, 100]

In [50]:
# 226
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

# print_5xn("아이엠어보이유알어걸")

stra = "아이엠어보이유알어걸"
stra[5]

'이'

In [51]:
def print_5xn(line):
    chunk_num = int(len(line) / 5) #10 -> 2
    print(chunk_num)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

2
아이엠어보
이유알어걸

In [54]:
# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

def print_mxn(string,num):
  chunk_num = int(len(string)/3)
  for x in range(chunk_num+1):
    print(string[x*num:x*num+num])
  
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [59]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(annual_salary):
  print(int(annual_salary/12))

calc_monthly_salary(12000000)

1000000

In [60]:
# 229
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [62]:
# 230
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [63]:
# 231
# 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: ignored

In [65]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(s):
  url = f"www.{s}.com"
  url = "www." + s + ".com"
  return url

make_url("naver")

'www.naver.com'

In [66]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

def make_list (string) :
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [71]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.


def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [70]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int(s):
  result = ""
  for a in s.split(','):
    result += a
  return result
print(convert_int("1,234,567"))

1234567

In [72]:
def convert_int (string) :
    return int(string.replace(',', ''))

In [74]:
# 236
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10) #14
b = 함수(a) #18
c = 함수(b) #22
print(c)

22

In [75]:
# 237
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c) #22

22

In [77]:
# 238
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) #14
c = 함수2(a) #140
print(c) #

140

In [78]:
# 239
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10) 
print(c)#16

16

In [79]:
# 240
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c) #28

28

## 10. 파이썬 모듈
파이썬 모듈은 파이썬 파일을 의미합니다. 파이썬은 다양한 분야별로 모듈을 제공합니다. 프로그램 구현에 필요한 모듈의 기초 사용법을 알아봅시다.

In [92]:
# datetime 모듈
import datetime
print(datetime.datetime.now())
print(type(datetime.datetime.now()))
print('*'*100,'\n')

#timedelta
now = datetime.datetime.now()
for day in range(5,0,-1):
  delta = datetime.timedelta(days=day)
  date = now - delta
  print(date)
print('*'*100,'\n')

#strftime
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))
print('*'*100,'\n')

#strptime
day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))
print('*'*100,'\n')

2020-12-26 11:03:58.399440
<class 'datetime.datetime'>
****************************************************************************************************

2020-12-21 11:03:58.400295
2020-12-22 11:03:58.400295
2020-12-23 11:03:58.400295
2020-12-24 11:03:58.400295
2020-12-25 11:03:58.400295
****************************************************************************************************

11:03:58
****************************************************************************************************

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [93]:
# 246 sleep 함수
# time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.
import time
import datetime


while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2020-12-26 11:04:31.111938
2020-12-26 11:04:32.114115
2020-12-26 11:04:33.115911
2020-12-26 11:04:34.117255
2020-12-26 11:04:35.118701
2020-12-26 11:04:36.120073

KeyboardInterrupt: ignored

In [ ]:
# 247 모듈 임포트
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.

import os             #os.rename()  #가장 권장하는 방식 모듈마다 동일한 함수가 있을 수 있어서...!
from os import rename #rename()
from os import *      #getcwd(),rename(),.....
import os as myos     #myos.getcwd()

In [94]:
# 248 os 모듈
# os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.

import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [ ]:
249 rename 함수
바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.


import os
os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

In [96]:
# 250 numpy
# numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.

import numpy
for i in numpy.arange(0.0,5.0,0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9