<a href="https://colab.research.google.com/github/JeongJaeWook/Portfolio-Lotto/blob/master/python100/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C(201~300).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 09. 파이썬 함수
함수란 자주 사용하는 코드에 대한 이름표입니다. 변수가 어떤 값을 바인딩하는 것처럼 함수는 어떤 코드를 바인딩합니다.

In [ ]:
# 201
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coint():
  print("비트코인")

print_coint() #202

비트코인

In [ ]:
for a in range(10): #203
  print_coint()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
def print_coins():
  print("비트코인"*100)

print_coins()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [ ]:
#205

#선언보다 실행을 더 위에다가 해서
# 즉, 함수가 정의되기 전에 호출되어서 에러가 발생합니다.

In [ ]:
# 206
# 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

# A
# B
# C
# A
# B

A
B
C
A
B

In [ ]:
# 207
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()


# A
# C
# B

A
C
B

In [ ]:
# 208
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()


# A C B E D

A
C
B
E
D

In [ ]:
# 209
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
# 210
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()


# B C B C B C A

B
C
B
C
B
C
A

In [ ]:
# 211
# 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212
# 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

#인자가 있어야 하는데 없어서

In [ ]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다. 
하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [ ]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(s):
  print(s + ":D")

print_with_smile("하이") #216

하이:D

In [ ]:
# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

def print_upper_price(price):
  print(price*1.3)
print_upper_price(50000)

65000.0

In [ ]:
def print_sum(a,b):
  print(a+b)

In [ ]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [ ]:
# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

def print_max(a,b,c):
  temp = a
  if a < b:
    temp = b
    if b < c:
      temp = c
  else:
    if a < c:
      temp = c
  print(temp)

print_max(3,2,1)

3

In [ ]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
print_max(3, 2, 1)

3

In [ ]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

def print_reverse(s):
  print(s[::-1])

print_reverse("python")

nohtyp

In [ ]:
#@title List를 문자열로 만들어주는 함수 "".Join(a)
a = ['a','b','c']

b = "".join(a)
b

'abc'

In [ ]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(score_list):
  total = 0
  평균 = 1
  for a in range(len(score_list)):
    total += score_list[a]
  평균 = total / len(score_list)

  print(평균)

print_score ([1, 2, 3])

2.0

In [ ]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

In [ ]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



def print_even(alist):
  for a in alist:
    if a % 2 ==0:
      print(a)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_keys(a):
  print(list(a.keys()))

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

['이름', '나이', '성별']

In [ ]:
225
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

print(my_dict["10/26"])


# print_value_by_key  (my_dict, "10/26")

def print_value_by_key(a,b):

  my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
  print(a[b])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]
[100, 130, 100, 100]

In [ ]:
# 226
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

# print_5xn("아이엠어보이유알어걸")

stra = "아이엠어보이유알어걸"
stra[5]

'이'

In [ ]:
def print_5xn(line):
    chunk_num = int(len(line) / 5) #10 -> 2
    print(chunk_num)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

2
아이엠어보
이유알어걸

In [ ]:
# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

def print_mxn(string,num):
  chunk_num = int(len(string)/3)
  for x in range(chunk_num+1):
    print(string[x*num:x*num+num])
  
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(annual_salary):
  print(int(annual_salary/12))

calc_monthly_salary(12000000)

1000000

In [ ]:
# 229
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
# 230
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [ ]:
# 231
# 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: ignored

In [ ]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(s):
  url = f"www.{s}.com"
  url = "www." + s + ".com"
  return url

make_url("naver")

'www.naver.com'

In [ ]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

def make_list (string) :
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.


def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [ ]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int(s):
  result = ""
  for a in s.split(','):
    result += a
  return result
print(convert_int("1,234,567"))

1234567

In [ ]:
def convert_int (string) :
    return int(string.replace(',', ''))

In [ ]:
# 236
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10) #14
b = 함수(a) #18
c = 함수(b) #22
print(c)

22

In [ ]:
# 237
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c) #22

22

In [ ]:
# 238
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) #14
c = 함수2(a) #140
print(c) #

140

In [ ]:
# 239
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10) 
print(c)#16

16

In [ ]:
# 240
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c) #28

28

## 10. 파이썬 모듈
파이썬 모듈은 파이썬 파일을 의미합니다. 파이썬은 다양한 분야별로 모듈을 제공합니다. 프로그램 구현에 필요한 모듈의 기초 사용법을 알아봅시다.

In [ ]:
# datetime 모듈
import datetime
print(datetime.datetime.now())
print(type(datetime.datetime.now()))
print('*'*100,'\n')

#timedelta
now = datetime.datetime.now()
for day in range(5,0,-1):
  delta = datetime.timedelta(days=day)
  date = now - delta
  print(date)
print('*'*100,'\n')

#strftime
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))
print('*'*100,'\n')

#strptime
day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))
print('*'*100,'\n')

2020-12-26 11:03:58.399440
<class 'datetime.datetime'>
****************************************************************************************************

2020-12-21 11:03:58.400295
2020-12-22 11:03:58.400295
2020-12-23 11:03:58.400295
2020-12-24 11:03:58.400295
2020-12-25 11:03:58.400295
****************************************************************************************************

11:03:58
****************************************************************************************************

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [ ]:
# 246 sleep 함수
# time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.
import time
import datetime


while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2020-12-26 11:04:31.111938
2020-12-26 11:04:32.114115
2020-12-26 11:04:33.115911
2020-12-26 11:04:34.117255
2020-12-26 11:04:35.118701
2020-12-26 11:04:36.120073

KeyboardInterrupt: ignored

In [ ]:
# 247 모듈 임포트
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.

import os             #os.rename()  #가장 권장하는 방식 모듈마다 동일한 함수가 있을 수 있어서...!
from os import rename #rename()
from os import *      #getcwd(),rename(),.....
import os as myos     #myos.getcwd()

In [ ]:
# 248 os 모듈
# os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.

import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [ ]:
249 rename 함수
바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.


import os
os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

In [ ]:
# 250 numpy
# numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.

import numpy
for i in numpy.arange(0.0,5.0,0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

## 11. 파이썬 클래스
파이썬 클래스는 타입을 만들어내는 도구입니다. int, float, str과 같이 여러분의 새로운 타입을 만들 수 있습니다.

251 클래스, 객체, 인스턴스
클래스, 객체, 인스턴스에 대해 설명해봅시다.

클래스 : 붕어빵 틀과 같은 것, 객체나 인스턴스의 설계도

클래스로부터 만들어진 붕어빵과 같은 것을  객체 or 인스턴스라 한다.
객체(object) = 인스턴스(instantce)

In [2]:
class Human: #파이썬이 원래 가지고 있는 클래스와 구분하기 위해서 첫문자를 대문자로 사용한다.
  pass

In [3]:
class Human:
  pass

areum = Human()

In [4]:
areum

In [7]:
# 254 클래스 생성자-1
# 사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

# areum = Human()
# 생성자 : 클래스 호출 시 자동으로 생성되는 함수..

class Human:
  def __init__(self): #self는 생성된 객체를 의미한다.
    print("응애응애")

areum = Human()

응애응애

In [20]:
# 257 클래스 생성자-2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

class Human:
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex
    print("응애응애")
  def who(self):
    print(self.name,self.age,self.sex)

areum = Human("아름", 25, "여자")
areum.who()

응애응애
아름 25 여자

In [23]:
# 258 클래스 메소드 - 2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

class Human:
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex
    print("응애응애")
  def who(self):
    print(self.name,self.age,self.sex)
  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("모름", 0, "모름")
areum.setInfo("아름", 25, "여자")

응애응애

'여자'

In [25]:
# 259 클래스 소멸자
# 사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

class Human:
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex
    print("응애응애")

  def __del__(self):
    print("나의 죽음을 알리지말라")

  def who(self):
    print(self.name,self.age,self.sex)
  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex
areum = Human("아름", 25, "여자")
del areum

응애응애
나의 죽음을 알리지말라

In [30]:
class OMG : 
  def print(self) :
    print("Oh my god")

mys = OMG()
mys.print()

Oh my god

In [40]:
#261 Stock 클래스 생성
#주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

#262 생성자
#Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

class Stock:
  def __init__(self,name,code):
    self.name = name
    self.code = code

  def setname(self,name):
    self.name = name  

  def set_code(self, code):
    self.code = code 

  def get_name(self):
    return self.name
  
  def get_code(self):
    return self.code


삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [46]:
# 266 객체의 속성값 업데이트
# 생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

class Stock:
  def __init__(self, name, code, per, pbr, 배당수익률):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.배당수익률 = 배당수익률

  def setname(self,name):
    self.name = name  

  def set_code(self, code):
    self.code = code 

  def get_name(self):
    return self.name
  
  def get_code(self):
    return self.code

삼성 = Stock("삼성전자","005930", 15.79 , 1.33, 2.83)

In [53]:
# 268 객체의 속성 수정
# PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.


class Stock:
  def __init__(self, name, code, per, pbr, 배당수익률):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.배당수익률 = 배당수익률

  def setname(self,name):
    self.name = name  

  def set_code(self, code):
    self.code = code 

  def get_name(self):
    return self.name
  
  def get_code(self):
    return self.code

  def set_per(self, per):
    self.per = per

  def set_pbr(self, pbr):
    self.pbr = pbr

  def set_dividend(self, dividend):
    self.dividend = dividend
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [58]:
class Stock:
  def __init__(self, name, code, per, pbr, 배당수익률):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.배당수익률 = 배당수익률

  def setname(self,name):
    self.name = name  

  def set_code(self, code):
    self.code = code 

  def get_name(self):
    return self.name
  
  def get_code(self):
    return self.code

  def set_per(self, per):
    self.per = per

  def set_pbr(self, pbr):
    self.pbr = pbr

  def set_dividend(self, dividend):
    self.dividend = dividend

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목 = [삼성,현차,LG전자]

for i in 종목:
  print(i.code , i.per)

005930 15.79
005380 8.7
066570 317.34

In [5]:
#@title zfill()이라는 걸 알았다~
# 271 Account 클래스
# 은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. Account 클래스를 생성한 후 생성자를 구현해보세요. 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

import random

class Account:
  
  

  def __init__(self,예금주,초기잔액):
    self.예금주 = 예금주
    self.초기잔액 = 초기잔액
    self.name = "SC은행"
    
    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)  

    self.account_number = num1 + '-' + num2 + '-' + num3
    

kim = Account("김민수",100)
print(kim.예금주)
print(kim.초기잔액)
print(kim.name)
print(kim.account_number)

김민수
100
SC은행
796-55-553687

In [7]:
#@title class에도 고정변수를 넣어서 몇개가 만들어졌는지 확인할 수 있다.

# 272 클래스 변수
# 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.
import random

class Account:
  
  account_count = 0

  def __init__(self,예금주,초기잔액):
    self.예금주 = 예금주
    self.초기잔액 = 초기잔액
    self.name = "SC은행"
    
    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)  

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.account_count += 1
    
kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [20]:
#@title classmethod 사용(인스턴스메소드)
# 273 클래스 변수 출력
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

import random

class Account:
  
  account_count = 0

  def __init__(self,예금주,초기잔액):
    self.예금주 = 예금주
    self.초기잔액 = 초기잔액
    self.name = "SC은행"
    
    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)  

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.account_count += 1
    
  @classmethod
  def get_account_num(cls): #self로 받을 필요가 없고
    print(cls.account_count)

  


kim = Account("김민수", 100)

kim.get_account_num() ##Account.get_account_num()  와 같다.

lee = Account("이민수", 100)
lee.get_account_num()

1
2

In [52]:
# 274 입금 메서드
# Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

import random

class Account:
  
  account_count = 0

  def __init__(self,예금주,초기잔액):
    self.예금주 = 예금주
    self.초기잔액 = 초기잔액
    self.name = "SC은행"
    
    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)  

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.account_count += 1
    
  @classmethod
  def get_account_num(cls): #self로 받을 필요가 없고
    print(cls.account_count)

  def deposit(self,money): #입금 274
    if money > 0 :
      self.초기잔액 += money

  def withdraw(self,money): #출금 275
    if self.초기잔액 > money :
      self.초기잔액 -= money
  
  def display_info(self):
    print(self.name )
    print(self.예금주)
    print(self.account_number)
    print(self.초기잔액)

In [53]:
k = Account("kim", 100)
print(k.display_info())

None

In [43]:



p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  462-15-247499
잔고:  10000

In [54]:
# 277 이자 지급하기
# 입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # init value
        self.deposit = 0

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
            self.deposit += 1
            if self.depoist % 5 ==0 :
              self.balance *= 1.01
        else:
          print("입금 실패")
        


    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

In [55]:
p = Account("파이썬", 10000)

In [56]:
p.deposit(100)
p.deposit(100)
p.deposit(100)
p.deposit(100)
p.deposit(100)
p.deposit(100)

In [57]:
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  495-73-732257
잔고:  10600

In [58]:
#278
data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
pa = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(pa)

print(data)

[<__main__.Account object at 0x7f146e5cc048>, <__main__.Account object at 0x7f146e5ccfd0>, <__main__.Account object at 0x7f146e624390>]

In [59]:
for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  390-63-457191
잔고:  10000000

In [60]:
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200