## 01 파이썬 시작하기 (1~10)

In [ ]:
#1. 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

hello World

In [ ]:
#2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
#신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".' )

신씨가 소리질렀다. "도둑이야".

In [ ]:
#4. 화면에 "C:\Windows"를 출력하세요.
print("C:\Windows")

C:\Windows

In [ ]:
#5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
#print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 한줄 띄우기
# \t : tab만큼 띄우기
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
#6. 여러줄  출력
#함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

In [ ]:
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung

#7.
print("naver","kakao","sk","samsung", sep=';')

#8.
print("naver","kakao","sk","samsung", sep='/')

naver;kakao;sk;samsung
naver/kakao/sk/samsung

In [ ]:
#009
# print 줄바꿈
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first",end="");print("second")

firstsecond

In [ ]:
#10 연산 결과 출력
print(5/3)

1.6666666666666667

## 02. 파이썬 변수(11~20)

In [ ]:
#11
# 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsungjunja = 50000
total_jusic = samsungjunja * 10
print(total_jusic)

500000

In [ ]:
#12
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

samsung_siga = 298000000000000
samsung_now = 50000
samsung_per = 15.79

print("시가총액", type(samsung_siga))
print("현재가", type(samsung_now))
print("PER", type(samsung_per))

시가총액 <class 'int'>
현재가 <class 'int'>
PER <class 'float'>

In [ ]:
#13
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

s = "hello"
t = "python"
print(s + "!" , t)

hello! python

In [ ]:
#14
print(2 + 2*3)

8

In [ ]:
#15
#015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"
print(type(a))
print(a+1, type(a)) #must be str, not int

<class 'str'>

TypeError: ignored

In [ ]:
#16 문자열을 정수로 변환
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
#17 정수를 문자열 100으로 변환
num = 100
type(str(num))

str

In [ ]:
#018 문자열을 실수로 변환
num2 = "15.79"
print(type(float(num2)))

# 019 문자열을 정수로 변환
num3 = "2020"
print(int(num3)-1)
print(type(int(num3)))

<class 'float'>
2019
<class 'int'>

In [ ]:
#020 파이썬 계산
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

aircon = 48584
mon = 36

total = aircon * mon
total

1749024

In [ ]:
#??? 한글이 되네???????????????
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

## 03. 파이썬 문자열

In [ ]:
#021 문자열 인덱싱
letters = 'python'
print(letters[0],letters[2])

#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[-4:])

p t
2210

In [ ]:
#@title 이거 내가 몰랐다!!!!!
#023 문자열 인덱싱 ##이거 몰랐다
#아래의 문자열에서 '홀' 만 출력하세요.
#>> string = "홀짝홀짝홀짝"

#슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [ ]:
#24 문자열 슬라이싱
#문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"

print(phone_number.replace("-",' '))

#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
print(phone_number.replace("-",''))

010 1111 2222
01011112222

In [ ]:
#@title 이것도 모르겠네2 - 아... split

#027 문자열 다루기
url = "http://sharebook.kr"

url.split('.')[1]

'kr'

In [ ]:
#028 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.

# >> lang = 'python'
# >> lang[0] = 'P'
# >> print(lang)

lang = 'python'
lang[0] = 'P'
print(lang)

#아.. 문자열은 수정할 수 없다!!!! 오키오키

TypeError: ignored

In [ ]:
#@title 문자열은 변경 안되는 것도 이제 알았다!!!

#replace 사용해도 똑같음

string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

#30 replace 메서드
string2 = 'abcd'
string2.replace('b', 'B')
print(string2.replace('b', 'B')) # 새로운 문자열 객체를 리턴해줄 뿐
print(string2) # 원래는 바뀌지 않음.

Abcdfe2A354A32A
aBcd
abcd

In [ ]:
#031 문자열 합치기
#아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

34

In [ ]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [ ]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
#034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

# >>> t1 = 'python'
# >>> t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java
t1 = 'python'
t2 = 'java'
print( (t1 + ' ' + t2 + " ")*5 , sep = "")

python java python java python java python java python java

In [ ]:
# 035 문자열 출력
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s  나이: %d" % (name1, age1))

이름: 김민수  나이: 10

In [ ]:
# 036 문자열 출력
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
print("이름:{} 나이:{}" .format(name2,age2))

이름:이철희 나이:13

In [ ]:
# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10

In [ ]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

int(상장주식수.replace(',',''))

#->이때 숫자 형태의 문자열에 컴마가 있는 경우 바로 변환된지 않습니다. 먼저 문자열의 replace 메서드로 컴마를 제거한 후 변환해야합니다.

5969782550

In [ ]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])
분기.split('(')[0]

2020/03

'2020/03'

In [ ]:
# 040 strip 메서드
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
# 이 때도 원본 데이터는 유지.

data = "   삼성전자    "
data1 = data.strip()
data

'   삼성전자    '

In [ ]:
#041 upper 메서드

ticker = "btc_krw"
ticker.upper() #041
ticker.lower() #042
ticker.capitalize() #03

'Btc_krw'

In [ ]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

print(file_name.endswith('.xlsx'))
print(file_name.endswith(("xlsx", "xls"))) #45

True
True

In [ ]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [ ]:
#47
a = "hello world"
print(a.split())

#48
ticker = "btc_krw"
print(ticker.split('_'))

#49
date = "2020-05-01"
print(date.split('-'))

#50
data = "039490     "
print(data.rstrip())

['hello', 'world']
['btc', 'krw']
['2020', '05', '01']
039490

## 04. 파이썬 리스트
파이선 리스트는 순서가 있고 수정 가능한 자료구조입니다.

In [ ]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)

# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#@title insert(인덱스, 원소)
# 053
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
#리스트의 insert(인덱스, 원소) 메서드를 사용하면 특정 위치에 값을 끼어넣기 할 수 있습니다.
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
#movie_rank.remove("럭키")
del movie_rank[3]
print(movie_rank)

#del 과 remove의 차이점은?
# del a[인덱스] # 리스트 a의 해당 인덱스 원소가 삭제됩니다!
# a.pop(인덱스) # 리스트 a의 해당 인덱스 원소가 삭제됩니다!
# a.remove(원소) # 리스트 a의 해당 원소가 삭제됩니다!

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop() #list.pop()에 인덱스를 지정하지 않으면 목록의 마지막 요소가 제거됩니다.
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']

In [ ]:
#055
#movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

# del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.

del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#56
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

# >> lang1 = ["C", "C++", "JAVA"]
# >> lang2 = ["Python", "Go", "C#"]
# 실행 예:
# >> langs
# ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang1 + lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)


# 실행 예:
# max:  7
# min:  1
nums = [1, 2, 3, 4, 5, 6, 7]
print(f"min : {min(nums)}")
print(f"max : {max(nums)}")

min : 1
max : 7

In [ ]:
# 058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
total = 0
for a in nums:
  total += a

print(total)

print(sum(nums))

15
15

In [ ]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [ ]:
# 060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

print(sum(nums)/len(nums))

3.0

In [ ]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])
print(nums[1::2]) #63
print(nums[::-1]) #64

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
#@title join 메서드 :리스트에 특정 구분자를 추가하여 문자열로 변환함
# 066 join 메서드 :리스트에 특정 구분자를 추가하여 문자열로 변환함
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
print("/".join(interest))#67
print("\n".join(interest))#68

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort() #원본데이터 정렬
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data) #원본 데이터 보유
print(data)
print(data2)

[2, 4, 3, 1, 5, 10, 9]
[1, 2, 3, 4, 5, 9, 10]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data,reverse=True) #원본 데이터 보유
print(data)
print(data2)

[2, 4, 3, 1, 5, 10, 9]
[10, 9, 5, 4, 3, 2, 1]

## 05. 파이썬 튜플

In [ ]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable= ()

In [ ]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ("닥터 스트레인지", "스플릿","럭키")

In [ ]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.


#아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다.
a =(1)
type(a)

#->
ab =(1,)
type(ab)

tuple

In [ ]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment

#튜플은 변경할 수 없기 때문에
#tuple은 원소(element)의 값을 변경할 수 없습니다.

TypeError: ignored

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
t = 1, 2, 3, 4
type(t)

tuple

In [ ]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c') #이 튜플은 자동으로 삭제됨
t = ('A', 'b', 'c')

In [ ]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
i2 = tuple(interest)
i2

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.


# (2, 4, 6, 8 ... 98)
tu1 = tuple(range(2,99,2))
print(tu1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 06. 파이썬 딕셔너리

In [ ]:
#@title 오 새로 알게된 내용
# 081 별 표현식
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 
# 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, b, *c = (0, 1, 2, 3, 4, 5)
a, *b, c = (0, 1, 2, 3, 4, 5)
print(a)

print(b)

print(c)

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 
# valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score,_,_ = scores
print(valid_score)

0
[1, 2, 3, 4]
5
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_,_,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

In [ ]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#086
#085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice["죠스바"] = 1200
ice["월드콘"] =  1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice["메로나"])

1000

In [ ]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300

print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.
# -> 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생합니다.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

KeyError: ignored

In [ ]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0])

300

In [ ]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1])

20

In [ ]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500,7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(list(icecream.values()))

6700

In [ ]:
#@title update하면 합쳐지는구나!!
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

dict(zip(keys,vals))

{'apple': 300, 'peach': 400, 'pear': 250}

In [ ]:
# zip(*iterable)은 동일한 개수로 이루어진 자료형을 같은 순서끼리 묶어 주는 역할을 하는 함수이다.

# ※ 여기서 사용한 *iterable은 반복 가능(iterable)한 자료형 여러 개를 입력할 수 있다는 의미이다.

# 잘 이해되지 않는다면 다음 예제를 살펴보자.

print(list(zip([1, 2, 3], [4, 5, 6])))
# [(1, 4), (2, 5), (3, 6)]
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))
# [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
print(list(zip("abc", "def")))
# [('a', 'd'), ('b', 'e'), ('c', 'f')]

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)
# {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
print(tuple(zip(date,close_price)))

(('09/05', 10500), ('09/06', 10300), ('09/07', 10100), ('09/08', 10800), ('09/09', 11000))

In [ ]:
#이렇게 3일만에 100문제를 풀었다 아주 기초중에 기초를 다지는 시간.